.card-box {
	border: var(--card-border-color);
	border-radius: 16px;
	overflow: hidden;
}

.card-secondary {
	background-color: var(--card-inside-color);
}

.card-primary {
	background-color: var(--nav-drop);
}
