/* stylelint-disable custom-property-empty-line-before */
[data-theme='dark'] {
	--shadow: rgba(255 255 255 0.02);

	--body-color: rgb(45 45 45);
	--body-bg: linear-gradient(180deg, rgb(13 13 14) 0, rgb(11 11 12) 100%);
	--back-drop: linear-gradient(rgb(8 10 24 / 0%) 0%, rgb(8 10 24) 45%);
	--cards-background: linear-gradient(179.82deg, rgb(0 0 0 / 0%) 0.16%, rgb(5 0 38) 99.85%);

	--card-bg: rgb(13 17 28);
	--switch-button-border: var(--card-bg);
	--vote-card-color: var(--card-bg);
	--sticky-nav: var(--card-bg);
	--nav-drop: var(--card-bg);
	--model-bg: var(--card-bg);
	--dropdown-border: var(--card-bg);
	--home-cards: var(--card-bg);

	--card-inside-color: rgb(19 26 42);
	--switch-button: rgb(19 26 42);
	--model-cards: rgb(19 26 42);
	--vote-card-bgcolor: rgb(19 26 42);
	--dropdown-bg: rgb(19 26 42);

	--open-currency-btn-bg: rgb(41 50 73);
	--privacy-cc: rgb(41 50 73);
	--hover-background: rgb(41 50 73);

	--token-border-color: 1px solid rgb(152 161 192 / 24%);
	--token-clrr: rgb(152 161 192 / 24%);
	--border: rgb(152 161 192 / 24%);

	--connect-btn: rgb(76 130 251 / 24%);
	--model-btn-color: rgb(76 130 251 / 24%);

	--btn-color: rgb(76 130 251);
	--model-btn-hover: rgb(76 130 251);
	--model-text: rgb(76 130 251);
	--model-btn-switch: rgb(76 130 251);
	--privacy-cards-clr: rgb(76 130 251);

	--open-currency-btn-top: rgb(255 255 255);
	--color-white: rgb(255 255 255);

	--model-bg-text: rgb(255 255 255);

	--text-clr-2: rgb(93 103 133);

	--text-clr: rgb(152 161 192);
}
