/* stylelint-disable custom-property-empty-line-before */
[data-theme='light'] {
	--shadow: rgba(0 0 0 0.02);

	--body-color: radial-gradient(
			100% 100% at 50% 0,
			rgb(255 184 226 / 51%) 0,
			rgb(255 255 255 / 0%) 100%
		),
		#fff;
	--body-bg: radial-gradient(
			100% 100% at 50% 0,
			rgb(217 226 255 / 51%) 0,
			rgb(255 255 255 / 0%) 100%
		),
		#fff;
	--back-drop: linear-gradient(rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 45%);
	--cards-background: linear-gradient(
		179.82deg,
		rgb(255 255 255 / 0%) 0.16%,
		rgb(234 234 234) 99.85%
	);

	--surface-1: rgb(255 255 255);
	--surface-2: rgb(245 246 252);
	--surface-3: rgb(232 236 251);
	--border: rgb(210 217 238);
	--primary: rgb(251 17 142);

	/* --primary-accent: color-mix(in srgb, var(--primary) 12%, transparent); */
	--connect-btn: rgb(251 17 142 / 12%);
	--model-btn-color: rgb(251 17 142 / 12%);

	/* --text-1: rgb(0 0 0); */
	--open-currency-btn-top: rgb(0 0 0);
	--color-white: rgb(0 0 0);

	/* --text-2: rgb(13 17 28); */
	--model-bg-text: rgb(13 17 28);

	/* --text-3: rgb(119 128 160); */
	--text-clr: rgb(119 128 160);
}
