/* ---------------- Dark Theme ----------------------- */
:root {
	--shadow: #ffffff05;
	--body-color: #2d2d2d;
	--body-bg-color: linear-gradient(rgb(32 39 56) 0%, rgb(7 8 22) 100%);

	/* Swap page */
	--card-bg: rgb(13 17 28);
	--card-inside-color: rgb(19 26 42);
	--switch-button: rgb(19 26 42);
	--switch-button-border: rgb(13 17 28);
	--connect-btn: rgb(76 130 251 / 24%);
	--open-currency-btn-bg: rgb(41 50 73);
	--open-currency-btn-top: #fff;
	--open-currency-btn-color: #fff;

	/* Home page */
	--home-cards: rgb(19 26 42);

	/* --text-color: rgb(152, 161, 192); */
	--text-color: #7f9bd4;

	/* --body-bg-shade: radial-gradient(72.04% 72.04% at 50% 3.99%, rgb(255, 55, 235) 0%, rgba(166, 151, 255, 0) 100%); */
	--body-bg-shade: radial-gradient(
		72.04% 72.04% at 50% 3.99%,
		#89cff0 0%,
		rgb(166 151 255 / 0%) 100%
	);
	--card-border-color: 1px solid rgb(152 161 192 / 24%);
	--card-hover-color: 1px solid rgb(76 130 251);
	--color-white: #fff;
	--btn-color: rgb(76 130 251);

	/* Body Background */
	--body-bg: linear-gradient(180deg, #0d0d0e 0, #0b0b0c 100%);
	--back-drop: linear-gradient(rgb(8 10 24 / 0%) 0%, rgb(8 10 24) 45%);

	/* --back-drop-two: linear-gradient(rgb(0 0 0 / 60%) 0%, rgb(4 4 6) 60%); */
	--cards-background: linear-gradient(179.82deg, rgb(0 0 0 / 0%) 0.16%, rgb(5 0 38) 99.85%);
	--protocol-card: radial-gradient(
		101.8% 4091.31% at 0% 0%,
		rgb(70 115 250) 0%,
		rgb(150 70 250) 100%
	);

	/* Sticky-Nav */
	--sticky-nav: #000;
	--nav-drop: #0d111c;

	/* Tokens page */
	--eth-dropdown: rgb(232 236 251);
	--token-border-color: 1px solid rgb(152 161 192 / 24%);

	/* Model page */
	--model-bg: rgb(13 17 28);
	--model-btn-hover: rgb(51 113 250);
	--model-btn-color: rgb(76 130 251);
	--model-cards: rgb(19 26 42);
	--model-text: rgb(152 161 192);
	--model-bg-text: rgb(255 255 255);
	--model-btn-switch: rgb(255 255 255);

	/* Vote page */
	--vote-card-color: rgb(13 17 28);
	--vote-card-bgcolor: rgb(19 26 42);

	/* Privacy Modal */
	--privacy-cards-clr: rgb(76 130 251);
	--privacy-cards-bg: rgb(21 61 111 / 44%);
	--privacy-cards-bg-hover: rgb(55 107 173 / 44%);
	--privacy-cc: rgb(41 50 73);

	/* Footer  */
	--text-clr: rgb(152 161 192);

	/* Liquidity page */
	--dropdown-bg: rgb(19 26 42);
	--dropdown-border: rgb(13 17 28);
	--token-clrr: rgb(152 161 192 / 24%);
	--hover-background: rgb(41 50 73);
	--border: rgb(152 161 192 / 24%);
	--green: rgb(118 209 145);
	--red: rgb(252 83 83);
	--yellow: rgb(255 153 51);
	--yellow-transparent: rgba(255, 153, 51, 0.2);
}

/* ------------------------------------------------------------
 ---------------- Light Theme -----------------------
------------------------------------------------------------- */
[data-theme='light'] {
	--shadow: #00000005;

	/* Body Background */
	--body-color: radial-gradient(
			100% 100% at 50% 0,
			rgb(255 184 226 / 51%) 0,
			rgb(255 255 255 / 0%) 100%
		),
		#fff;

	/* --body-bg: radial-gradient(100% 100% at 50% 0, rgba(255, 184, 226, .51) 0, rgba(255, 255, 255, 0) 100%), #fff; */
	--body-bg: radial-gradient(
			100% 100% at 50% 0,
			rgb(217 226 255 / 51%) 0,
			rgb(255 255 255 / 0%) 100%
		),
		#fff;
	--back-drop: linear-gradient(rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 45%);
	--cards-background: linear-gradient(
		179.82deg,
		rgb(255 255 255 / 0%) 0.16%,
		rgb(234 234 234) 99.85%
	);

	/* Swap page */
	--card-bg: rgb(255 255 255);
	--card-inside-color: rgb(245 246 252);
	--switch-button: rgb(245 246 252);
	--switch-button-border: rgb(255 255 255);
	--color-white: #000;
	--connect-btn: rgb(251 17 142 / 12%);
	--btn-color: rgb(251 17 142);
	--open-currency-btn-color: #fff;
	--open-currency-btn-bg: rgb(232 236 251);
	--open-currency-btn-top: #000;

	/* Home page */
	--home-cards: #ffff;
	--protocol-card: linear-gradient(93.06deg, rgb(255 0 199) 2.66%, rgb(255 159 251) 98.99%);

	/* Sticky-Nav */
	--sticky-nav: #fff;
	--nav-drop: #fff;

	/* Tokens page */
	--eth-dropdown: rgb(232 236 251);
	--token-border-color: 1px solid rgb(210 217 238);
	--token-clrr: rgb(210 217 238);

	/* Model  */
	--model-bg: #fff;
	--model-btn-hover: rgb(251 17 142);
	--model-btn-color: rgb(251 17 142 / 12%);
	--model-cards: rgb(245 246 252);
	--model-text: rgb(251 17 142);
	--model-bg-text: rgb(13 17 28);
	--model-btn-switch: rgb(251 17 142);

	/* Vote page */
	--vote-card-color: rgb(255 255 255);
	--vote-card-bgcolor: rgb(245 246 252);

	/* Privacy Modal */
	--privacy-cards-clr: rgb(251 17 142);
	--privacy-cards-bg: rgb(253 234 241);
	--privacy-cards-bg-hover: rgb(246 221 232);
	--privacy-cc: rgb(232 236 251);

	/* Footer  */
	--text-clr: rgb(119 128 160);

	/* Liquidity page */
	--dropdown-bg: rgb(245 246 252);
	--dropdown-border: #fff;
	--hover-background: rgb(232 236 251);
	--border: rgb(210 217 238);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Ubuntu, sans-serif;
	overflow-x: hidden !important;
	background: var(--body-bg);
}

a {
	text-decoration: none;
	color: var(--btn-color);
	transition: color 0.3s ease;
}

a:hover {
	color: color-mix(in srgb, var(--btn-color) 60%, white);
}

ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.dark-theme {
	position: relative;
	width: 100vw;
	height: 100vh;

	/* background: var(--body-bg); */
}

.dark-theme::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	width: 200vw;
	height: 200vh;
	transform: translate(-50vw, -100vh);
	z-index: 1;
}

.backdrop {
	position: absolute;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 550px;
	background: var(--back-drop);

	/* background: linear-gradient(rgba(8, 10, 24, 0) 0%, rgb(8, 10, 24) 45%); */
	z-index: 110;
	pointer-events: none;
	height: calc(100vh - 52px);
	overflow: hidden;
}

._2IvMF {
	background-color: transparent !important;
}

._11RoI {
	background-color: transparent !important;
}

@media screen and (width >= 768px) {
	.backdrop {
		height: 100vh;
	}
}

.App {
	background: var(--body-bg);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--text-color) transparent;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
	border-radius: 20px;
	border: 3px solid var(--text-color);
}

::-webkit-scrollbar-corner {
	background: rgb(0 0 0 / 0%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input[type='range'] {
	height: 36px;
	background-color: transparent;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

input[type='range']:focus {
	outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: var(--connect-btn);
	border-radius: 4px;
}

input[type='range']::-webkit-slider-thumb {
	box-shadow: 1px 1px 5px var(--shadow);
	border: 0px solid var(--btn-color);
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background: var(--btn-color);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -13px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
	background: var(--connect-btn);
}

input[type='range']::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: var(--connect-btn);
	border-radius: 4px;
}

input[type='range']::-moz-range-thumb {
	box-shadow: 1px 1px 5px var(--shadow);
	border: 0px solid var(--btn-color);
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background: var(--btn-color);
	cursor: pointer;
}

input[type='range']::-ms-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type='range']::-ms-fill-lower {
	background: var(--connect-btn);
	border-radius: 8px;
}

input[type='range']::-ms-fill-upper {
	background: var(--connect-btn);
	border-radius: 8px;
}

input[type='range']::-ms-thumb {
	box-shadow: 1px 1px 5px var(--shadow);
	margin-top: 1px;
	border: 0px solid var(--connect-btn);
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background: var(--connect-btn);
	cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
	background: var(--connect-btn);
}

input[type='range']:focus::-ms-fill-upper {
	background: var(--connect-btn);
}
