.jBBXQD[data-reach-dialog-content] {
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(51, 53, 72, 0.04) 8px 12px 20px, rgba(51, 53, 72, 0.02) 4px 6px 12px, rgba(51, 53, 72, 0.04) 4px 4px 8px;
    padding: 0px;
    width: 50vw;
    overflow: hidden auto;
    max-width: 420px;
    max-height: 71vh;
    min-height: 71vh;
    display: flex;
    border-radius: 20px;
}


.jBBXQD {
    overflow-y: auto;
}

[data-reach-dialog-content] {
    background: #fff;
    margin: 10vh auto;
    outline: none;
    padding: 2rem;
    width: 50vw;
}

.fUHrnW {
    background-color: var(--card-bg);
    color: var(--color-white);
    width: 100%;
    overflow: hidden;
    flex: 1 1 0%;
    position: relative;
    border-radius: 20px;
    border: var(--token-border-color);
}

.eOCLUf {
    padding: 20px;
}

.kqzAOQ {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 16px;
}

.fqkEGC {
    color: rgb(13, 17, 28);
    cursor: pointer;
}

.hxoNas {
    background: url("/public/assets/images/search-icon.svg") 12px center / 20px 20px no-repeat scroll rgb(245, 246, 252);
    position: relative;
    display: flex;
    padding: 16px 16px 16px 40px;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    outline: none;
    border-radius: 12px;
    color: rgb(13, 17, 28);
    border: 1px solid rgb(210, 217, 238);
    appearance: none;
    font-size: 16px;
    transition: border 100ms ease 0s;
}

.kqyzGE {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 12px;
}

.bORAza {
    flex-wrap: wrap;
    margin: -4px;
}

.cTSGxd {
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 4px;
}

.ipXHOd {
    border: 1px solid rgb(76, 130, 251);
    border-radius: 16px;
    display: flex;
    padding: 6px 12px 6px 6px;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(76, 130, 251);
    background-color: rgba(76, 130, 251, 0.24);
}

.bORAza>* {
    margin: 4px !important;
}

.ckpBIe {
    width: 24px;
    height: 24px;
    background: none;
    transition: background-color 250ms ease-in 0s;
    box-shadow: white 0px 0px 1px;
    border-radius: 50%;
}

.bwVixy {
    opacity: 1;
    transition: opacity 250ms ease-in 0s;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.css-xy7yfl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 16px;
}

.css-xy7yfl span .ri-close-line {
    cursor: pointer;
}

.fosiKD {
    border: var(--token-border-color);
    border-radius: 16px;
    display: flex;
    padding: 6px 12px 6px 6px;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.fosiKD:hover {
    background-color: var(--token-clrr);
}

.fosiKD.active {
    border: 1px solid rgb(76, 130, 251);
    color: rgb(76, 130, 251);
    background-color: rgba(76, 130, 251, 0.24);
}

.eLvYRk {
    position: relative;
    display: flex;
}

.cbqHzZ {
    width: 100%;
    height: 1px;
    background-color: var(--token-clrr);
}

.labelsWrapper {
    flex: 1 1 0%;
    position: relative;
}


/* ch */


.token-data-tabs {
    flex: 1 1 0%;
    position: relative;
}

.token-data-tabs-wrapper {
    position: relative;
    height: 553px;
    width: 100%;
    overflow: auto;
    willChange: transform;
    direction: ltr;
}

.token-data-tabs-wrapper .token- {
    height: 13552px;
    width: 100%;
}

#tokenBtick {
    justify-self: flex-end;
}

.close-modal {
    cursor: pointer;
    font-size: 25px;
}

.kszyds {
    padding-right: 0.25rem;
}

._1pi21y70 {
    height: 100%;
    scrollbar-color: var(--genie-colors-backgroundOutline) transparent;
    scrollbar-width: thin;
}



#cross-title {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.frnZMKK {
    -webkit-box-pack: justify;
    justify-content: space-between;
}


.fhPvJeh {
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;

}

.edPdrxe {
    padding: 4px 20px;
    height: 56px;
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
    gap: 16px;
    /* pointer-events: none; */
    opacity: 1;
    cursor: pointer;
}

.edPdrxe:hover {
    background-color: var(--token-clrr);
}

.edPdrxe.active {
    opacity: .4;
}

.hJYFVB {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}

.swap-tick {
    color: var(--btn-color);
    font-size: 20px;
}

.oJGcu {
    width: 36px;
    height: 36px;
    background: none;
    transition: background-color 250ms ease-in 0s;
    box-shadow: white 0px 0px 1px;
    border-radius: 50%;
}

.jdTKGL {
    display: grid;
    grid-auto-rows: auto;
}

.css-vurnku {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}

.dmGdpm {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wHspX {
    margin-left: 0.3em;
}

.bqwbXT {
    color: rgb(152, 161, 192);
}

.css-yfjwjl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 300;
    font-size: 12px;
}

.iCxowP {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.leSroW {
    width: fit-content;
}

.bZZPOo {
    height: 20px;
    width: 20px;
    margin-left: 4px;
    color: rgb(251, 17, 142);
}

.bPeMEk {
    padding: 4px 20px;
    height: 56px;
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
    gap: 16px;
    cursor: pointer;
    opacity: 1;
}

.gxjzue {
    opacity: 1;
    transition: opacity 250ms ease-in 0s;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.resize-triggers,
.resize-triggers>div,
.contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

.resize-triggers>div {
    background: #eee;
    overflow: auto;
}

#background-radial-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    transform: translate(-50vw, -100vh);
    z-index: -1;
}

.bmYGet[data-reach-dialog-overlay] {
    z-index: 1040;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(13, 17, 28, 0.6);
}

[data-reach-dialog-overlay] {
    background: rgba(0, 0, 0, .33);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

/* media query */

@media screen and (max-width: 720px) {
    .gqQqei {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .jBBXQD[data-reach-dialog-content] {

        width: 65vw;
    }
}

@media screen and (max-width: 640px) {
    .jBBXQD[data-reach-dialog-content] {
        margin: 0px;
        width: 100vw;
        border-radius: 20px 20px 0px 0px;
    }

    .bmYGet[data-reach-dialog-overlay] {

        align-items: flex-end;

    }
}