/* Chrome, Safari, Edge, Opera */
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.no-arrow[type='number'] {
	-moz-appearance: textfield;
}

input[type='file'] {
	display: none;
}

.custom-file-upload {
	border: 1px dashed var(--border);
	border-radius: 16px;
	height: 200px;
	width: 100%;
	padding: 6px 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clIMsa {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	padding: 72px 0px 5rem;
	-webkit-box-align: center;
	align-items: center;
	flex: 1 1 0%;
}

.cJuMSY {
	position: fixed;
	top: 72px;
	right: 1rem;
	width: 100%;
	z-index: 3;
	max-width: 348px !important;
}

.pay-with {
	width: 100%;
	display: flex;
	padding: 0px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: space-between;
}

.erfIcs {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 20px;
}

.hJYFVB {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
}

.iHReYX {
	-webkit-box-align: center;
	align-items: center;
	bottom: 0px;
	color: rgb(93, 103, 133);
	display: none;
	padding: 1rem;
	position: fixed;
	right: 0px;
	transition: color 250ms ease 0s;
}

.jeYuAz {
	width: fit-content;
}

.css-x9zcw6 {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 11px;
}

.pYsaH {
	color: rgb(118, 209, 145);
	transition: opacity 0.25s ease 0s;
	opacity: 0.5;
}

.pYsaH a {
	color: unset;
}

.iHReYX a {
	color: unset;
}

.rCUQQ {
	text-decoration: none;
	cursor: pointer;
	transition-duration: 125ms;
	color: rgb(76, 130, 251);
	stroke: rgb(76, 130, 251);
	font-weight: 500;
}

a {
	color: rgb(76, 130, 251);
}

a:-webkit-any-link {
	cursor: pointer;
}

.hCatfB {
	width: 8px;
	height: 8px;
	min-height: 8px;
	min-width: 8px;
	border-radius: 50%;
	position: relative;
	background-color: rgb(118, 209, 145);
	transition: background-color 250ms ease 0s;
}

.gKJuLw {
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: none;
	transition: background-size 250ms ease-in-out 0s;
	color: rgb(255, 255, 255);
	position: fixed;
	z-index: 1020;
	padding: 24px 16px 16px;
	border-radius: 20px;
	bottom: 20px;
	right: 20px;
	width: 390px;
	height: 164px;
	border: 1px solid rgba(152, 161, 192, 0.24);
	box-shadow:
		rgba(0, 0, 0, 0.24) 12px 16px 24px,
		rgba(0, 0, 0, 0.24) 12px 8px 12px,
		rgba(0, 0, 0, 0.32) 4px 4px 8px;
	user-select: none;
}

.doyKmv {
	cursor: pointer;
	position: absolute;
	top: 21px;
	right: 17px;
	color: rgb(255, 255, 255);
	transition: opacity 250ms ease 0s;
}

.smOka {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 138px;
	width: 138px;
}

.css-17l0moo {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	max-width: 224px;
}

.bXKUaT {
	gap: 16px;
}

.bEqvED {
	height: 40px;
	border-radius: 16px;
	padding: 10px;
	transition: opacity 250ms ease 0s;
}

.kIHSLT {
	padding: 16px;
	width: 125px;
	font-weight: 500;
	text-align: center;
	border-radius: 20px;
	outline: none;
	border: 1px solid transparent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	will-change: transform;
	transition: transform 450ms ease 0s;
	transform: perspective(1px) translateZ(0px);
}

.jnEFg {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	appearance: none;
	display: inline-block;
	text-align: center;
	line-height: inherit;
	text-decoration: none;
	font-size: inherit;
	padding: 8px 16px;
	color: white;
	border: 0px;
	border-radius: 4px;
	background-color: white;
	width: 125px;
}

button {
	user-select: none;
}

.css-18hn7mq {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 600;
	font-size: 14px;
}

.kIHSLT > * {
	user-select: none;
}

.jZqRhH {
	color: rgb(0, 0, 0);
}

.kVNjZg {
	padding: 20px 8px 0px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.GfTH {
	position: relative;
	/* max-width: 420px; */
	max-width: 600px;
	width: 100%;
	background: var(--card-bg);
	border-radius: 16px;
	border: 1px solid rgba(152, 161, 192, 0.24);
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	font-feature-settings: 'ss01', 'ss02', 'cv01', 'cv03';
}

/* .FuZnx {
    padding: 0px;
    max-width: 640px;
} */

.FuZnx-expanded {
	width: 640px !important;
}

.kmmojd {
	display: flex;
	flex-flow: row;
	-webkit-box-align: center;
	align-items: center;
	border-radius: 3rem;
	justify-content: space-evenly;
}

.dIAqzj {
	flex: 1 1 0%;
}

a {
	color: rgb(76, 130, 251);
}

.jpkEeW {
	color: rgb(255, 255, 255);
}

.css-12uvan3 {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 20px;
	text-align: start;
}

.cMHLWt {
	flex: 1 1 0%;
	margin: auto;
}

.css-vurnku {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
}

.fgCeff {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.jtnClT {
	padding: 0px;
	width: fit-content;
	background: none;
	text-decoration: none;
}

.cWDToC {
	color: var(--model-btn-hover);
}

.imhdhD {
	position: relative;
}

.kHIRPQ {
	border: none;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	outline: none;
}

.hrkQLI {
	padding: 6px 12px;
	border-radius: 16px;
}

.hPGtHV {
	height: 24px;
	width: 24px;
}

.vSeCC {
	position: relative;
	padding: 26px 16px;
}

.dXokMm {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 20px;
	border-top: 1px solid var(--open-currency-btn-bg);
}

.ereGUg {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 24px;
}

.erfjwt {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 12px;
}

.eYHTYx {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	padding-bottom: 20px;
}

.bhoFAK {
	display: flex;
	flex-flow: column;
	position: relative;
	border-radius: 16px;
	background-color: transparent;
	z-index: 1;
	width: 100%;
	transition: height 1s ease 0s;
	will-change: height;
}

.gkamEi {
	width: 48.5%;
}

.hcUXCv {
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(41, 50, 73);
	opacity: 1;
	color: var(--color-white);
	cursor: pointer;
	border-radius: 16px;
	outline: none;
	user-select: none;
	border: none;
	font-size: 24px;
	font-weight: 500;
	height: 2.8rem;
	width: 100%;
	padding: 0px 8px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-left: 0px;
	visibility: visible;
}

.kkiXeD {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.hOvXWG {
	position: relative;
	display: flex;
}

.iZhrtN {
	width: 24px;
	height: 24px;
	background: none;
	transition: background-color 250ms ease-in 0s;
	box-shadow: white 0px 0px 1px;
	border-radius: 50%;
}

.IJysW {
	opacity: 1;
	transition: opacity 250ms ease-in 0s;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.reOdD {
	margin: 0px 0.25rem;
	font-size: 20px;
}

.cDVJfz {
	margin: 0px 0.25rem 0px 0.35rem;
	height: 35%;
}

.epZvyg {
	border-radius: 16px;
	border: 1px solid var(--dropdown-border);
	background-color: var(--dropdown-bg);
	width: 100%;
}

.colorrr {
	color: var(--color-white) !important;
}

.jGjrwu {
	display: flex;
	flex-flow: row;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 1rem;
}

.iGQvak {
	-webkit-box-align: center;
	align-items: center;
	background-color: var(--model-btn-hover);
	opacity: 1;
	color: rgb(255, 255, 255);
	cursor: pointer;
	border-radius: 16px;
	outline: none;
	user-select: none;
	border: none;
	font-size: 24px;
	font-weight: 500;
	height: 2.8rem;
	width: 100%;
	padding: 0px 8px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-left: 0px;
	visibility: visible;
}

.ereioh {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 16px;
}

.jgrgoQ {
	border: 1px solid rgb(41, 50, 73);
	animation: 0.6s linear 0s 1 normal none running none;
	align-self: center;
}

.cVcAns {
	width: 100%;
}

.gXqkQO {
	display: grid;
	grid-auto-rows: auto;
}

.ddcmlg {
	display: flex;
}

.ixVlAp {
	padding: 4px;
	width: auto;
	font-weight: 500;
	text-align: center;
	border-radius: 6px;
	outline: none;
	border: 1px solid transparent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	will-change: transform;
	transition: transform 450ms ease 0s;
	transform: perspective(1px) translateZ(0px);
}

.dpNkPS {
	align-items: flex-start;
	display: grid;
	grid-auto-flow: column;
	gap: 8px;
	width: 100%;
}

.aQTri {
	border: 1px solid rgba(152, 161, 192, 0.24);
	background-color: transparent;
	color: rgb(255, 255, 255);
}

.eOoGds {
	padding: 12px 8px;
	width: 100%;
	font-weight: 500;
	text-align: center;
	border-radius: 12px;
	outline: none;
	border: 1px solid transparent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	will-change: transform;
	transition: transform 450ms ease 0s;
	transform: perspective(1px) translateZ(0px);
}

.lbXqUa {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	appearance: none;
	display: inline-block;
	text-align: center;
	line-height: inherit;
	text-decoration: none;
	font-size: inherit;
	color: white;
	border: 0px;
	border-radius: 4px;
	padding: 12px 8px;
}

.eOoGds > * {
	user-select: none;
}

.hJYFVB {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
}

.ezHOjM {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 8px;
	justify-items: flex-start;
}

.gajsee {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 6px;
	justify-items: flex-start;
}

.css-1lohbqv {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 600;
}

.blhgKn {
	color: var(--color-white);
}

.fYKQxG {
	line-height: 16px;
	font-size: 14px;
}

.css-fczr0v {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 400;
	font-size: 12px;
	text-align: left;
}

.BkVYr {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.isLiqudity {
	opacity: 0.3;
	pointer-events: none;
}

.isLiqudity.token-selected {
	opacity: 1;
	pointer-events: auto;
}

.bEIXES {
	flex-wrap: wrap;
}

.bObhWT {
	width: 100%;
	display: flex;
	padding: 0px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	gap: 12px;
}

.hXXOVF {
	padding: 12px;
	animation: 0.8s linear 0s 1 normal none running none;
}

.hapmMj {
	border: 1px solid var(--border);
}

.jlQAxw {
	width: 100%;
	padding: 1rem;
	border-radius: 16px;
}

.iHjCXw {
	display: grid;
	grid-auto-rows: auto;
	justify-items: flex-start;
}

.css-9bv76i {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
}

.jgKZAt {
	background-color: transparent;
	font-weight: 500;
	text-align: left;
	width: 100%;
}

.gZlbTK {
	color: var(--color-white);
	/* width: 0px; */
	position: relative;
	font-weight: 400;
	outline: none;
	border: none;
	flex: 1 1 auto;
	background-color: transparent;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px;
	appearance: textfield;
	/* text-align: right; */
}

.css-2qpl5c {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 12px;
	text-align: left;
}

.dCQVZu {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 8px;
}

.hWKjgZ:disabled {
	opacity: 0.5;
	cursor: auto;
	pointer-events: none;
}

.eKOJak {
	border-radius: 8px;
	padding: 4px;
}

.bdLEKg {
	background-color: var(--switch-button);
	color: rgb(152, 161, 192);
	font-size: 16px;
	font-weight: 500;
}

.lfsInV {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	appearance: none;
	display: inline-block;
	text-align: center;
	line-height: inherit;
	text-decoration: none;
	font-size: inherit;
	padding: 8px 16px;
	color: white;
	border: 0px;
	border-radius: 4px;
}

.hWKjgZ {
	padding: 16px;
	width: 100%;
	font-weight: 500;
	text-align: center;
	border-radius: 20px;
	outline: none;
	border: 1px solid transparent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	will-change: transform;
	transition: transform 450ms ease 0s;
	transform: perspective(1px) translateZ(0px);
}

.css-15li2d9 {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 12px;
}

.ojMTq {
	color: rgb(152, 161, 192) !important;
}

.cVcAns {
	width: 100%;
}

.iHjCXw {
	display: grid;
	grid-auto-rows: auto;
	justify-items: flex-start;
}

.css-9bv76i {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
}

.eRovVv {
	color: rgb(152, 161, 192);
	font-size: 12px;
	font-weight: 500;
}

.dCQVZu {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 8px;
}

.kValYi {
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
}

.hAwhdH {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.css-2c5569 {
	box-sizing: border-box;
	margin: 20px 0px 0px;
	min-width: 0px;
	font-weight: 500;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

.css-1lohbqv {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 600;
}

.fdQVur {
	display: flex;
	flex-flow: column;
	position: relative;
	border-radius: 20px;
	background-color: var(--card-bg);
	z-index: 1;
	width: initial;
	transition: height 1s ease 0s;
	will-change: height;
}

.cOqmuC {
	border-radius: 20px;
	border: var(--token-border-color);
	background-color: var(--card-bg);
	width: initial;
}

.hyQXvD {
	display: flex;
	flex-flow: row;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 1rem 1rem 0.75rem;
}

.hmakIi {
	color: green;
	width: 0px;
	position: relative;
	font-weight: 400;
	outline: none;
	border: none;
	flex: 1 1 auto;
	background-color: transparent;
	font-size: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px;
	appearance: textfield;
	text-align: right;
}

.byCAPU {
	filter: none;
	opacity: 1;
	transition: opacity 250ms ease-in-out 0s;
	text-align: left;
}

.jAJJVP {
	background-color: var(--card-inside-color);
	color: rgb(152, 161, 192);
	font-size: 16px;
	font-weight: 500;
}

.cCMOgz {
	-webkit-box-align: center;
	align-items: center;
	background-color: var(--open-currency-btn-bg);
	opacity: 1;
	color: var(--color-white);
	cursor: pointer;
	border-radius: 16px;
	outline: none;
	user-select: none;
	border: none;
	/* font-size: 24px; */
	font-weight: 500;
	height: 2.4rem;
	width: initial;
	padding: 0px 8px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-left: 12px;
	visibility: visible;
	pointer-events: none;
}

.kjAAwT {
	-webkit-box-pack: end;
	justify-content: flex-end;
	padding: 0px 1rem 0.75rem;
	height: 32px;
}

.gRWQqi {
	display: flex;
	flex-flow: row;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(255, 255, 255);
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 0px 1rem 1rem;
}

.bmCdZH {
	filter: none;
	opacity: 1;
	transition: opacity 250ms ease-in-out 0s;
}

.cPkaXY {
	width: 100%;
	display: flex;
	padding: 0px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	gap: 8px;
}

.css-zhpkf8 {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	font-weight: 400;
	font-size: 14px;
}

.fbSdRZ {
	color: rgb(152, 161, 192);
}

.bndAvc {
	display: inline-block;
	height: inherit;
}

.gHpyEg {
	-webkit-box-align: center;
	align-items: center;
	background-color: var(--card-inside-color);
	opacity: 1;
	color: var(--color-white);
	cursor: pointer;
	border-radius: 16px;
	outline: none;
	user-select: none;
	border: none;
	font-size: 24px;
	font-weight: 500;
	height: 2.4rem;
	width: initial;
	padding: 0px 8px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-left: 12px;
	visibility: visible;
	pointer-events: none;
}

.fCkFnu {
	background-color: var(--connect-btn);
	color: var(--privacy-cards-clr);
	font-size: 20px;
	font-weight: 600;
}

.dkaNOU {
	padding: 12px;
	width: 100%;
	font-weight: 500;
	text-align: center;
	border-radius: 12px;
	outline: none;
	border: 1px solid transparent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	will-change: transform;
	transition: transform 450ms ease 0s;
	transform: perspective(1px) translateZ(0px);
}

.gIjoKy {
	box-sizing: border-box;
	margin: 0px;
	min-width: 0px;
	appearance: none;
	display: inline-block;
	text-align: center;
	line-height: inherit;
	text-decoration: none;
	font-size: inherit;
	color: white;
	border: 0px;
	border-radius: 4px;
	padding: 12px;
	background-color: var(--btn-color);
}

.fNUVbK {
	background-color: transparent;
	inset: 0px;
	border-radius: inherit;
	height: 100%;
	position: absolute;
	transition: background-color 150ms ease 0s;
	width: 100%;
}

#range-selector {
	height: 310px;
}

/* CHARTS */

.erfjwt {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 12px;
}

.AKZXT {
	position: relative;
	width: 100%;
	max-height: 200px;
	-webkit-box-pack: center;
	place-content: center;
}

.kLcWec {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;
	position: absolute;
	top: -32px;
	right: 0px;
}

.rect {
	pointer-events: all;
	cursor: move;
	x: 46.5;
	y: 0;
	width: 509.5;
	height: 170;
}

@media screen and (max-width: 768px) {
	.cMHLWt {
		flex: 5;
	}
}

@media screen and (min-width: 768px) {
	.iHReYX {
		display: flex;
	}
}

@media screen and (max-width: 600px) {
	.GfTH {
		max-width: 420px;
	}
}

@media screen and (max-width: 420px) {
	.GfTH {
		max-width: 380px;
	}
}

@media screen and (max-width: 380px) {
	.GfTH {
		max-width: 95vw;
	}
}
